# Auto detect text files and perform LF normalization
* text=auto
*.csharp linguist-detectable=true

*.scss linguist-detectable=false

*.html linguist-detectable=false

*.js linguist-detectable=false

*.asp.net linguist-detectable=true
