
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<html lang="tr">
<body>
    <div class="main-panel" style="margin-top:-100px!important">
        @await Component.InvokeAsync("statistics")
        @await Component.InvokeAsync("FeatureStatistic")


        <div class="row">
            @await Component.InvokeAsync("MessageList")

            @await Component.InvokeAsync("update")
            @await Component.InvokeAsync("todolist")


        </div>     
    </div>

</body>
</html>

