<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title mb-1">Site İçi Güncelleme İşlemleri</h4>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="preview-list">
                        <a href="/Feature/Index" class="nav-link" style="color:white!important">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-primary">
                                        <i class="mdi mdi-auto-fix"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <h6 class="preview-subject">Header Bilgilerini Güncelle</h6>
                                        <p class="text-muted mb-0">Sayfanın Giriş Kısmında Yer Alan Bilgileri Güncelle</p>
                                    </div>

                                </div>
                            </div>
                        </a>
                        <a href="/About/Index" class="nav-link" style="color:white!important">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="mdi mdi-bulletin-board"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <h6 class="preview-subject">Hakkımda Bilgilerini Güncelle</h6>
                                        <p class="text-muted mb-0">Hakkımda Bölümünde Yer Alan Bilgileri Güncelle</p>
                                    </div>

                                </div>
                            </div>
                        </a>
                        <a href="/Feature/Index" class="nav-link" style="color:white!important">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="mdi mdi-deskphone"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <h6 class="preview-subject">İletişim Bilgilerini Güncelle</h6>
                                        <p class="text-muted mb-0">İletişim Kısmında Yer Alan Bilgileri Güncelle</p>
                                    </div>

                                </div>
                            </div>
                        </a>
                        <a href="/Feature/Index" class="nav-link" style="color:white!important">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-danger">
                                        <i class="mdi mdi-at"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <h6 class="preview-subject">Sosyal Medya Linklerini Güncelle</h6>
                                        <p class="text-muted mb-0">Sayfada Yer Alan Sosyal Medya Linklerini Güncelle</p>
                                    </div>

                                </div>
                            </div>
                        </a>
                        <a href="/Feature/Index" class="nav-link" style="color:white!important">
                            <div class="preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="mdi mdi-lock"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <h6 class="preview-subject">Şifre Güncelle</h6>
                                        <p class="text-muted mb-0">Admin Panelinin Giriş Bilgilerini Güncelle</p>
                                    </div>

                                </div>
                            </div>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
