
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@*<div class="col-xl-12 order-xl-1">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Yetenek Ekle </h3>
                </div>
                
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                <h6 class="heading-small text-muted mb-4">Yetenek Bilgileri</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label">Yetenek Adı:</label>
                                <input type="text" name="Title" class="form-control" placeholder="MS SQL">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" >Yetenek Oranı</label>
                                <input type="text" name="Value" class="form-control" placeholder="%70">
                            </div>
                        </div>

                            <div class="col-lg-12">
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-info ">Yetenek Ekle</button>
                                </div>

                            </div>

                    </div>
                    
                </div>

            </form>
        </div>
    </div>
</div>*@
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yetenek Ekle</h4>
            <p class="card-description"> Yetenek Bilgileri </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label class="form-control-label">Yetenek Adı:</label>
                    <input type="text" name="Title" class="form-control" placeholder="MS SQL">
                </div>
                <br />
                <div class="form-group">
                    <label class="form-control-label">Yetenek Oranı</label>
                    <input type="text" name="Value" class="form-control" placeholder="%70">
                </div>
                <br />
                <div class="form-group">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-success ">Yetenek Ekle</button>
                    </div>
                </div>
                <br />

            </form>
        </div>
    </div>
</div>