<h4 class="card-title"></h4>
<div class="row">
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">

                        <a href="/Skill/AddSkill/" class="nav-link" style="color:white!important">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                <h3 class="mb-0">Yeni Bir Yetenek Ekle</h3>
                            </div>
                        </a>
                        <h6 class="text-muted font-weight-normal"><a href="/Skill/Index" class="nav-link" style="color:white!important">Tüm Yetenekleri Görüntüle</a></h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">

                        <a href="/Service/AddService/" class="nav-link" style="color:white!important">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                <h3 class="mb-0">Yeni Bir Hizmet Ekle</h3>
                            </div>
                        </a>
                        <h6 class="text-muted font-weight-normal"><a href="/Service/Index" class="nav-link" style="color:white!important">Tüm Hizmetleri Görüntüle</a></h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">

                        <a href="/Portfolio/AddPortfolio/" class="nav-link" style="color:white!important">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                <h3 class="mb-0">Yeni Bir Proje Ekle</h3>
                            </div>
                        </a>
                        <h6 class="text-muted font-weight-normal"><a href="/Portfolio/Index" class="nav-link" style="color:white!important">Tüm Projeleri Görüntüle</a></h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
